<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="com.ricardo.mybatis.mapping.userMapper"就是com.ricardo.mybatis.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.ricardo.mybatis.mapping.userMapper">
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
    使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    resultType="com.ricardo.mybatis.domain.User"就表示将查询结果封装成一个User类的对象返回
    User类就是users表所对应的实体类
    -->
    <!-- 
        根据id查询得到一个user对象
     -->
    <select id="getUser" parameterType="int" 
        resultType="com.ricardo.mybatis.domain.User">
        select * from user where id=#{id}
    </select>
    
    <!-- 插入对象 -->
    <insert id="addUser" parameterType="com.ricardo.mybatis.domain.User">
    	insert into user(name,age) values(#{name},#{age})
  	</insert>
  	
  	<!-- 更新对象 -->
  	<update id="updateUser" parameterType="com.ricardo.mybatis.domain.User">
  		update user set name=#{name},age=#{age} where id=#{id}
  	</update>
  	
  	
  	<!-- 删除对象 -->
  	<delete id="deleteUser" parameterType="int">
  		delete from user where id=#{id}
  	</delete>
  	
  	<!-- 查询所有对象 -->
   <select id="getAllUser" resultType="com.ricardo.mybatis.domain.User">
   		select * from user
   </select>
    
</mapper>